
<td *ngIf="!editable">{{invoice.id_invoice}}</td>
<td *ngIf="!editable">{{invoice.id_project}}</td>
<td *ngIf="!editable">{{invoice.supplier_cif}}</td>
<td *ngIf="!editable">{{invoice.supplier_name}}</td>
<td *ngIf="!editable">{{invoice.supplier_address}}</td>
<td *ngIf="!editable">{{invoice.description}}</td>
<td *ngIf="!editable">{{invoice.amount}}</td>
<td *ngIf="!editable">{{invoice.state}}</td>
<td *ngIf="!editable">{{invoice.id_credit}}</td>

<td *ngIf="editable"><input [(ngModel)]="invoice.id_invoice"/></td>
<td *ngIf="editable"><input [(ngModel)]="invoice.id_project"/></td>
<td *ngIf="editable"><input [(ngModel)]="invoice.supplier_cif"/></td>
<td *ngIf="editable"><input [(ngModel)]="invoice.supplier_name"/></td>
<td *ngIf="editable"><input [(ngModel)]="invoice.supplier_address"/></td>
<td *ngIf="editable"><input [(ngModel)]="invoice.description"/></td>
<td *ngIf="editable"><input [(ngModel)]="invoice.amount"/></td>
<td *ngIf="editable"><input [(ngModel)]="invoice.state"/></td>
<td *ngIf="editable"><input [(ngModel)]="invoice.id_credit"/></td>


<td><button class="btn" (click)="onEdit()">{{editable ? 'Save': 'Edit'}}</button></td>
<td><button class="btn" (click)="deleteInvoice()">Delete</button></td>